@import "./variable";
header {
    height: 78px;
    background: #fff;
    border-bottom: 1px solid #f3e9e9;
    @include to-md {
        height: auto
    }
    .nav-area {
        @include flex-property(row);
        max-width: $container-width;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        @include to-md {
            max-width: 100%;
            width: 100%;
        }
        @include container-wid {
            width: 100%;
            padding: 0 20px;
        }
        .nav-logo {
            img {
                height: 40px;
                margin-right: 20px;
            }
        }
        .menu {
            @include flex-property(row);
            align-items: center;
            text-align: center;
            height: 78px;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                vertical-align: top;
                display: inline-block;
                border-radius: 6px;
                li {
                    position: relative;
                    a {
                        text-decoration: none;
                        color: #000;
                    }
                }
                .dropdown-submenu {
                    max-height: 280px;
                    overflow-y: auto;
                    left: 100%;
                    top: -1px;
                    border-left: 1px solid #fff;
                    border-top: 1px solid #ec3237;
                    box-shadow: 2px 5px 9px #000000bf;
                    background: #fff;
                    position: absolute;
                    white-space: nowrap;
                    z-index: 2;
                    border-radius: 0;
                    display: none;
                    &.show {
                        display: block;
                    }
                    > li {
                        &:hover {
                            > a {
                                color: #000;
                                background: #d9d9d9;
                            }
                        }
                    }
                }
            }
            > ul {
                > li {
                    float: left;
                    margin-right: 1px;
                    > span {
                        display: block;
                        padding: 0.5rem 0.8rem;
                        position: relative;
                        line-height: 1;
                        color: #000;
                    }
                    > a {
                        display: block;
                        padding: 0.5rem 0.8rem;
                        position: relative;
                        line-height: 1;
                        color: #000;
                    }
                    &:hover {
                        > a {
                            color: $red-color;
                        }
                    }
                    > .dropdown.show {
                        display: block;
                    }
                    > .dropdown {
                        display: none;
                        border-top: 1px solid #ec3237;
                        box-shadow: 2px 5px 9px #000000bf;
                        background: #fff;
                        position: absolute;
                        white-space: nowrap;
                        z-index: 2;
                        border-radius: 0;
                        > li {
                            > span {
                                padding: 0.5em 2em 0.5em 0.8em;
                                border-top: 1px solid #e8e3e7;
                                display: block;
                                line-height: 18px;
                                text-align: left;
                                color: #000;
                                .icon-right_arrow {
                                    position: absolute;
                                    right: 10px;
                                }
                            }
                            &:hover {
                                > a,
                                > span {
                                    color: #000;
                                    background: #d9d9d9;
                                }
                            }
                        }
                        li {
                            a {
                                padding: 0.5em 2em 0.5em 0.8em;
                                border-top: 1px solid #e8e3e7;
                                display: block;
                                line-height: 18px;
                                text-align: left;
                            }
                        }
                    }
                    > .dropdown.big {
                        width: 500px;
                        li {
                            width: 50%;
                            float: left;
                        }
                    }
                }
            }
        }
        @include nav-small {
            .nav-area-top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 20px;
            }
            .menu {
                display: none;
                position: relative;
                top: 0;
                height: auto;
                width: 100%;
                left: 0;
                &.navbar__ToggleShow {display: block;}
                > ul {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    background: #fff;
                        > li {
                            border-top: 1px solid #e8e3e7;
                        }
                        li.menu-items {
                            span[aria-haspopup="menu"] {
                                > span {
                                    position: absolute;
                                    z-index: 99;
                                    right: 0;
                                    top: 0;
                                    display: block;
                                    border-left: 1px solid #e8e3e7;
                                    height: 32px;
                                    width: 41px;
                                    cursor: pointer;
                                }
                            }
                            span[aria-expanded="false"] {
                                > span {
                                    &::before {
                                        position: absolute;
                                        top: 12px;
                                        right: 22px;
                                        display: block;
                                        width: 2px;
                                        height: 8px;
                                        background: #ddd;
                                        content: "";
                                    }  
                                    &::after {
                                        position: absolute;
                                        top: 15px;
                                        right: 19px;
                                        width: 8px;
                                        height: 2px;
                                        display: block;
                                        background: #ddd;
                                        content: "";
                                    }                              
                                }
                            }
                            span[aria-expanded="true"] {
                                > span {
                                    &::before {
                                        display: none;
                                    }  
                                    &::after {
                                        position: absolute;
                                        top: 15px;
                                        right: 19px;
                                        width: 8px;
                                        height: 2px;
                                        display: block;
                                        background: #ddd;
                                        content: "";
                                    }                              
                                }
                            }
                            .dropdown {
                                max-height: 200px;
                                overflow-y: auto;
                                box-shadow: 0 5px 20px 0 rgb(21 7 38 / 8%);
                                border-left: 1px solid #e8e3e7;
                                border-right: 1px solid #e8e3e7;
                                position: relative;
                                left: auto;
                                width: 100%;
                                li {
                                    width: 100%;
                                    &:hover {
                                        a, span {background: transparent;}
                                    }
                                }
                            }
                        }
                }
            }
            .navbar__Link.navbar__Link-toggle {
                display: block;
                width: 30px;
            }
            .navbar__Link.navbar__Link-toggle span {
                width: 100%;
                height: 5px;
                background-color: #333;
                margin: 6px 0;
                transition: 0.4s;
                display: block;
            }

            .navbar__Link-toggle.hamburger span:first-child {
                -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                transform: rotate(-45deg) translate(-9px, 6px);
            }

            .navbar__Link-toggle.hamburger span:nth-child(2) {
                opacity: 0;
            }

            .navbar__Link-toggle.hamburger span:last-child {
                -webkit-transform: rotate(45deg) translate(-10px, -7px);
                transform: rotate(45deg) translate(-10px, -7px);
            }
        }
    }
}
